body {
  text-align:center;
  margin: 30vh 0;
  font-family: 'Work Sans', sans-serif;
  color: #00000095
}

a, a:visited {
  border-bottom: 3px solid #00000095;
  color: #00000095;
  font-weight: bold;
  text-decoration: none;
}

footer {
  position: absolute;
  text-align: center;
  padding: ;
  bottom: 0;
  width: 100vw;
}

h1,h2 {
  margin: 0;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}
